body {
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #FF0066; /* Color rosa similar a la imagen */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

input:focus {
    outline: none;
    border-color: #FF0066; /* Color rosa */
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #FF0066; /* Color rosa */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    background-color: #ccc;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }