<div class="container-fluid"> 
  <div class="row align-items-center">
     <div class="col-md-6">
       <h1 class="titulo-efectividad-proveedor" i18n>Efectividad del Proveedor</h1>
     </div>
     <div class="col-md-6">
       <nav class="nav-menu">
         <a class="nav-link" routerLink="/main/listarPedidos" i18n>Pedidos</a>
         <a class="nav-link" routerLink="/main/listarProveedores" i18n>Listado Proveedores</a>
         <a class="nav-link" routerLink="/main/login" i18n>Cerrar Sesión</a>
       </nav>
      </div>
  </div>

  <div *ngIf="efectividadProveedor.length === 0" class="text-center mt-4">
    <p i18n>No hay proveedores con pedidos calificados</p>
  </div>

  <div *ngIf="efectividadProveedor.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th i18n>Nombre</th>
            <th i18n>Calificación</th>
            <th i18n>Cantidad de pedidos</th>
            <th i18n>Tardanza Máxima en dias</th>
            <th i18n>Tardanza Mínima en dias</th>
            <th i18n>Promedio de demora en dias</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of  efectividadProveedor">
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.calificacion }}</td>
            <td>{{ proveedor.cantidad_pedidos_proveedor}}</td>
            <td>{{ proveedor.maxima_tardanza_dias }}</td>
            <td>{{ proveedor.minima_tardanza_dias}}</td>
            <td>{{ proveedor.promedio_demora_dias }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
